{% extends 'employees/base.html' %}

{% load i18n %}

{% load custom_filters %}

{% block body %}

<div class="row mt-4">
  <div class="col-12">
    {% if employees %}
    <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div style="color: #37b281;">
          <i class="fa-regular fa-square-check fa-lg" style="color: #37b281;"></i>
          {% if department %}
            {{ department.name }} {% trans "Department" %}
          {% else %}
            {% trans "Active Employees" %}
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form method="get" action="{% if department %}{% url 'department_employees' department.id %}{% else %}{% url 'active_employees' %}{% endif %}">
            <div class="input-group mb-3">
              {% if request.GET.q %}
              <a href="{% if department %}{% url 'department_employees' department.id %}{% else %}{% url 'active_employees' %}{% endif %}" class="btn btn-outline-secondary"><i class="fa fa-times"></i></a>
              {% endif %}
              <input type="text" class="form-control"
                     placeholder="{% if department %}{% blocktrans with department=department.name %}Search for an employee in {{ department }}...{% endblocktrans %}{% else %}{% blocktrans %}Search for employee or department...{% endblocktrans %}{% endif %}"
                     name="q" value="{{ request.GET.q }}"/>

              <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i> {% trans "Search" %}
              </button>
            </div>
          </form>
          <div>
    <ul class="pagination pagination-sm justify-content-center">
        {% if employees.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
        {% endif %}

        {% for num in employees.paginator.page_range %}
            {% if employees.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if employees.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="small">
                <a href="?sort=first_name&order={% if request.GET.sort == 'first_name' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                  {% trans "First Name" %}
                </a>
              </th>
              <th scope="col" class="small">
                <a href="?sort=last_name&order={% if request.GET.sort == 'last_name' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                  {% trans "Last Name" %}
                </a>
              </th>
              <th scope="col" class="small">
                <a href="?sort=department__name&order={% if request.GET.sort == 'department__name' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                  {% trans "Department" %}
                </a>
              </th>

              <th scope="col" class="small">
                <a href="?sort=position__name&order={% if request.GET.sort == 'position__name' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                  {% trans "Position" %}
                </a>
              </th>
              <th scope="col" style="width: 150px;"></th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
            <tr onclick="window.location='{% url 'employee_profile' employee.id %}';" style="cursor:pointer;">
              <td class="align-middle text-center">
                <img src="{{ employee.photo.url|default:'url_to_default_photo' }}" alt="{{ employee.first_name }}"
                     class="img-fluid rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
              </td>
              <td class="align-middle">{{ employee.first_name }}</td>
              <td class="align-middle">{{ employee.last_name }}</td>
              <td class="align-middle">{{ employee.department }}</td>
              <td class="align-middle">{{ employee.position }}</td>
              <td class="align-middle" onclick="event.stopPropagation();">
                <button type="button" class="btn btn-info me-1" data-bs-toggle="modal"
                        data-bs-target="#myModal{{employee.id}}" onclick="event.stopPropagation();">
                  <i class="fa-solid fa-circle-info fa-lg"></i>
                </button>

                <div class="modal fade" id="myModal{{employee.id}}" tabindex="-1"
                     aria-labelledby="modalLabel{{employee.id}}" aria-hidden="true" onclick="event.stopPropagation();">
                  <div class="modal-dialog modal-xl" onclick="event.stopPropagation();">
                    <!-- Use Bootstrap's modal-xl for a wider modal -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel{{employee.id}}">
                          {{ employee.first_name }} {{ employee.last_name }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="{% blocktrans %}Close{% endblocktrans %}"
                                onclick="event.stopPropagation();"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <!-- Photo Column -->
                          <div class="col-md-4 d-flex justify-content-center align-items-start">
                            <img src="{{ employee.photo.url|default:'url_to_default_photo' }}"
                                 alt="{{ employee.first_name }}'s Photo" class="img-thumbnail"
                                 style="object-fit: cover; width: 250px; height: 250px;">
                            <!-- Adjusted for a square photo -->
                          </div>
                          <!-- Information Column -->
                          <div class="col-md-8">
                            <table class="table">
                              <tbody>
                              <!-- Employee Details -->
                              <tr>
                                <th scope="row">{% trans "Department" %}</th>
                                <td>{{ employee.department }}</td>
                              <tr>
                                <th scope="row">{% trans "Position" %}</th>
                                <td>{{ employee.position }}</td>
                              </tr>
                              <tr>
                                <th scope="row">{% trans "Date of Birth" %}</th>
                                <td>{{ employee.employee_information.date_of_birth|date:"Y-m-d" }}</td>
                              </tr>
                              <tr>
                                <th scope="row">{% trans "Email" %}</th>
                                <td>{{ employee.employee_information.email }}</td>
                              </tr>
                              <tr>
                                <th scope="row">{% trans "Phone Number" %}</th>
                                <td>{{ employee.employee_information.phone_number }}</td>
                              </tr>
                              <tr>
                                <th scope="row">{% trans "Address" %}</th>
                                <td>{{ employee.employee_information.address }}</td>
                              </tr>
                              <tr>
                                <th scope="row">{% trans "Employment Contract" %}</th>
                                <td>
                                  {% if employee.attachment %}
                                  <a href="{{ employee.attachment.url }}" target="_blank">
                                    {{ employee.attachment.name|filename }}</a>
                                  {% else %} {% trans "No file attached" %} {% endif %}
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-warning" href="{% url 'edit_employee' employee.id %}">
                          <i class="fa-solid fa-user-pen fa-lg"></i> {% trans "Update" %}</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{employee.id}}"><i
                                class="fa-solid fa-user-minus fa-lg"></i> {% trans "Deactivate" %}
                        </button>
                        <div class="modal" id="deleteModal{{employee.id}}" tabindex="-1" aria-labelledby="modalLabel2"
                             aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">
                                  {{ employee.first_name }} {{ employee.last_name }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="{% blocktrans %}Close{% endblocktrans %}"></button>
                              </div>
                              <div class="modal-body">
                                <p>{% trans "Are you sure you want to deactivate employee" %} {{ employee.first_name }}
                                  {{ employee.last_name }}?</p>
                              </div>
                              <div class="modal-footer">
                                <form action="{% url 'delete' employee.id %}" method="POST">
                                  {% csrf_token %}
                                  <input type="submit" class="btn btn-danger"
                                         value="{% blocktrans %}Deactivate{% endblocktrans %}"/>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    {% trans "Cancel" %}
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal"
                        data-bs-target="#permissionsModal{{employee.id}}" onclick="event.stopPropagation();">
                  <i class="fa-regular fa-id-badge fa-lg"></i>
                </button>
                <!-- Permissions Modal -->
                <div class="modal fade" id="permissionsModal{{employee.id}}" tabindex="-1"
                     aria-labelledby="permissionsModalLabel{{employee.id}}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="permissionsModalLabel{{employee.id}}">{{ employee.first_name }}
                          {{ employee.last_name }} - {% trans "Permissions" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="{% blocktrans %}Close{% endblocktrans %}"></button>
                      </div>
                      <div class="modal-body">
                        <h6>{% trans "Internal Permissions" %}</h6>
                        <table class="table">
                          <thead>
                          <tr class="table-active">
                            <th>{% trans "Permit Number" %}</th>
                            <th>{% trans "Permit Issue Date" %}</th>
                            <th>{% trans "Permit Expiration Date" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Tag" %}</th>
                            <th>{% trans "File" %}</th>
                            <th style="width: 120px;"></th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for permission in employee.internal_permission_set.all %}
                          {% with status=permission.is_expiring_or_expired %}
                          <tr class="{% if status == 'expired' %}table-danger{% elif status == 'expiring' %}table-warning{% else %}table-success{% endif %}">
                            <td>{{ permission.permit_number }}</td>
                            <td>{{ permission.permit_issue_date|date:"Y-m-d" }}</td>
                            <td>{{ permission.permit_expiry_date|date:"Y-m-d" }}</td>
                            <td>{{ permission.description }}</td>
                            <td>{{ permission.tag }}</td>
                            <td>
                              {% if permission.attachment %}
                              <a href="{{ permission.attachment.url }}" target="_blank"><i
                                      class="fa-regular fa-file fa-lg"></i></a>
                              {% else %}
                              <i class="fa-solid fa-file-excel fa-lg"></i>
                              {% endif %}
                            </td>
                            <td>
                              <a href="{% url 'edit_internal_permission' permission.id %}"
                                 class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-pen-to-square"></i>
                              </a>
                              <!-- Wrap the button in a form for the POST request -->
                              <form action="{% url 'delete_internal_permission' permission.id %}" method="post"
                                    style="display: inline-block;">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteInternalModal{{permission.id}}">
                                  <i class="fa-solid fa-trash"></i>
                                </button>
                              </form>
                            </td>
                            <div class="modal fade" id="deleteInternalModal{{permission.id}}" tabindex="-1"
                                 role="dialog" aria-labelledby="deleteInternalModalLabel{{permission.id}}"
                                 aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="deleteInternalModalLabel{{permission.id}}">
                                      {% trans "Delete Internal Permission" %}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="{% blocktrans %}Close{% endblocktrans %}"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>{% trans "Are you sure you want to delete permission No." %}
                                      {{ permission.permit_number }}?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <form action="{% url 'delete_internal_permission' permission.id %}" method="post">
                                      {% csrf_token %}
                                      <input type="submit" class="btn btn-danger"
                                             value="{% blocktrans %}Delete{% endblocktrans %}"/>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        {% trans "Cancel" %}
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </tr>
                          {% endwith %}
                          {% endfor %}
                          </tbody>
                        </table>
                        <h6>{% trans "External Permissions" %}</h6>
                        <table class="table">
                          <thead>
                          <tr class="table-active">
                            <th>{% trans "Permit Number" %}</th>
                            <th>{% trans "Permit Issue Date" %}</th>
                            <th>{% trans "Permit Expiration Date" %}</th>
                            <th>{% trans "File" %}</th>
                            <th style="width: 120px;"></th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for permission in employee.external_permission_set.all %}
                          {% with status=permission.is_expiring_or_expired %}
                          <tr class="{% if status == 'expired' %}table-danger{% elif status == 'expiring' %}table-warning{% else %}table-success{% endif %}">
                            <td>{{ permission.permit_number }}</td>
                            <td>{{ permission.permit_issue_date|date:"Y-m-d" }}</td>
                            <td>{{ permission.permit_expiry_date|date:"Y-m-d" }}</td>
                            <td>
                              {% if permission.attachment %}
                              <a href="{{ permission.attachment.url }}" target="_blank"><i
                                      class="fa-regular fa-file fa-lg"></i></a>
                              {% else %}
                              <i class="fa-solid fa-file-excel fa-lg"></i>
                              {% endif %}
                            </td>
                            <td>
                              <a href="{% url 'edit_external_permission' permission.id %}"
                                 class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                              <form action="{% url 'delete_internal_permission' permission.id %}" method="post"
                                    style="display: inline-block;">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteExternalModal{{permission.id}}">
                                  <i class="fa-solid fa-trash"></i>
                                </button>
                              </form>
                              <div class="modal fade" id="deleteExternalModal{{permission.id}}" tabindex="-1"
                                   role="dialog" aria-labelledby="deleteExternalModalLabel{{permission.id}}"
                                   aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="deleteExternalModalLabel{{permission.id}}">
                                        {% trans "Delete External Permission" %}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                              aria-label="{% blocktrans %}Close{% endblocktrans %}"></button>
                                    </div>
                                    <div class="modal-body">
                                      <p>{% trans "Are you sure you want to delete permission No." %}
                                        {{ permission.permit_number }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <form action="{% url 'delete_external_permission' permission.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger"
                                               value="{% blocktrans %}Delete{% endblocktrans %}"/>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                          {% trans "Cancel" %}
                                        </button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          {% endwith %}
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <a href="{% url 'add_internal_permission' employee.id %}" class="btn btn-success">
                          {% trans "Add Internal Permission" %}</a>
                        <a href="{% url 'add_external_permission' employee.id %}" class="btn btn-info">
                          {% trans "Add External Permission" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <div>
    <ul class="pagination pagination-sm justify-content-center">
        {% if employees.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
        {% endif %}

        {% for num in employees.paginator.page_range %}
            {% if employees.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if employees.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card bg-light ms-4 me-4 mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div style="color: #37b281;">
          <i class="fa-regular fa-square-check fa-lg" style="color: #37b281;"></i>
          {% if department %}
            {{ department.name }} {% trans "Department" %}
          {% else %}
            {% trans "Active Employees" %}
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form method="get" action="{% if department %}{% url 'department_employees' department.id %}{% else %}{% url 'active_employees' %}{% endif %}">
            <div class="input-group mb-3">
              {% if request.GET.q %}
              <a href="{% if department %}{% url 'department_employees' department.id %}{% else %}{% url 'active_employees' %}{% endif %}" class="btn btn-outline-secondary"><i class="fa fa-times"></i></a>
              {% endif %}
              <input type="text" class="form-control"
                     placeholder="{% blocktrans %}Search for employee, department or possition...{% endblocktrans %}" name="q"
                     value="{{ request.GET.q }}"/>
              <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i> {% trans "Search" %}
              </button>
            </div>
          </form>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="small">
                <a>
                  {% trans "First Name" %}
                </a>
              </th>
              <th scope="col" class="small">
                <a>
                  {% trans "Last Name" %}
                </a>
              </th>
              <th scope="col" class="small">
                <a>
                  {% trans "Department" %}
                </a>
              </th>

              <th scope="col" class="small">
                <a>
                  {% trans "Position" %}
                </a>
              </th>
              <th scope="col" style="width: 150px;"></th>
            </tr>
            </thead>
          </table>
          <div class="text-center">
            <h6>{% trans "No active employees found." %}</h6>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
