{% extends 'employees/base.html' %}

{% block body %}

{% load i18n %}
<div>
  <div class="row">
    <!-- Internal Permissions Expiring Card -->
    <div class="col-lg-6 mt-4">
      <div class="col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-header">
            <i class="fa-solid fa-clock-rotate-left " style="color: #F0BA67;"></i> {% trans "Internal Permissions Expiring Soon" %}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>{% trans "First Name" %}</th>
                  <th>{% trans "Last Name" %}</th>
                  <th>{% trans "Permit Number" %}</th>
                  <th>{% trans "Permit Expiration Date" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in internal_permissions_expiring %}
                <tr onclick="window.location='{% url 'employee_profile' permission.employee.id %}';" style="cursor:pointer;">
                  <td class="align-middle">{{ permission.employee.first_name }}</td>
                  <td class="align-middle">{{ permission.employee.last_name }}</td>
                  <td class="align-middle">{{ permission.permit_number }}</td>
                  <td class="align-middle">{{ permission.permit_expiry_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- External Permissions Expiring Card -->
    <div class="col-lg-6 mt-4">
      <div class="col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-header">
            <i class="fa-solid fa-clock-rotate-left " style="color: #F0BA67;"></i> {% trans "External Permissions Expiring Soon" %}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>{% trans "First Name" %}</th>
                  <th>{% trans "Last Name" %}</th>
                  <th>{% trans "Permit Number" %}</th>
                  <th>{% trans "Permit Expiration Date" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in external_permissions_expiring %}
               <tr onclick="window.location='{% url 'employee_profile' permission.employee.id %}';" style="cursor:pointer;">
                  <td class="align-middle">{{ permission.employee.first_name }}</td>
                  <td class="align-middle">{{ permission.employee.last_name }}</td>
                  <td class="align-middle">{{ permission.permit_number }}</td>
                  <td class="align-middle">{{ permission.permit_expiry_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Employees with Birthdays This Month Card -->
    <div class="col-lg-6 mt-1">
      <div class="col-md-12">
        {% if employees_birthday_this_month %}
        <div class="card bg-light mb-4">
          <div class="card-header">
            <i class="fa-solid fa-cake-candles" style="color: #d82c34;"></i> {% trans "Employees with birthdays this month" %}
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Date of Birth" %}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for employee_info in employees_birthday_this_month %}
                <tr onclick="window.location='{% url 'employee_profile' employee_info.employee.id %}';" style="cursor:pointer;">

                  <td class="align-middle">{{ employee_info.employee.first_name }} {{ employee_info.employee.last_name }}</td>
                  <td class="align-middle">{{ employee_info.date_of_birth }}</td>
                  <td class="align-middle" onclick="event.stopPropagation();">
                    <button type="button" class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#infoModalBirthday{{employee_info.employee.id}}">
                      <i class="fa-solid fa-circle-info fa-lg"></i>
                    </button>

                    <!-- Modal Structure with Detailed Information -->
                    <div class="modal fade" id="infoModalBirthday{{employee_info.employee.id}}" tabindex="-1" aria-labelledby="infoModalLabel{{employee_info.employee.id}}" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="infoModalLabel{{employee_info.employee.id}}">{{ employee_info.employee.first_name }} {{ employee_info.employee.last_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <!-- Corrected Photo Display -->
                              <div class="col-md-4 d-flex justify-content-center align-items-start">
                                <img src="{{ employee_info.employee.photo.url|default:'url_to_default_photo' }}"
                                     alt="{{ employee_info.employee.first_name }}'s Photo" class="img-thumbnail"
                                     style="object-fit: cover; width: 250px; height: 250px;">
                              </div>
                              <div class="col-md-8">
                                <table class="table">
                                  <tbody>
                                  <tr>
                                    <th scope="row">{% trans "Date of Birth" %}</th>
                                    <td>{{ employee_info.date_of_birth }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">{% trans "Department" %}</th>
                                    <td>{{ employee_info.employee.department.name }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">{% trans "Position" %}</th>
                                    <td>{{ employee_info.employee.position.name }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">{% trans "Email" %}</th>
                                    <td>{{ employee_info.email }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">{% trans "Phone" %}</th>
                                    <td>{{ employee_info.phone_number }}</td>
                                  </tr>
                                  <!-- Add more fields as necessary -->
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a href="mailto:{{ employee_info.email }}" class="btn btn-primary">Send Email</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% else %}
        <p>{% trans "No birthdays this month." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
