{% autoescape off %}
Sveiki,

Jūs gavote šį laišką todė, kad paprašėte atkurti savo vartotojo paskyros slaptažodį SecureNest svetainėje.

Eikite į šį puslapį ir įveskite naują slaptažodį:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Jei pamiršote, jūsų vartotojo vardas yra: {{ user.get_username }}

Jei jūs neprašėte atkurti savo vartotojo slaptažodžio, į šį laišką nekreipkite dėmesio.

Jūsų slaptažodis nebus pakeistas, kol nepasinaudosite aukščiau nurodyta nuoroda ir nesukursite naujo.

SecureNest

------------------------------

Hello,

You're receiving this email because you requested a password reset for your user account at SecureNest.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this, please ignore this email.

Your password won't change until you access the link above and create a new one.

SecureNest
{% endautoescape %}